.circle-loader {
  position: relative;
  top: 50px;
  width: 100%;
  height: 80vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .circle-loader img {
    width: 30%;
    position: absolute; }
    .circle-loader img.blue-semi-circle {
      animation: circle-spin infinite 120s linear; }
    .circle-loader img.blue-circle {
      animation: circle-spin infinite 100s linear; }
    .circle-loader img.green-semi-circle {
      animation: circle-spin infinite 90s linear; }
    .circle-loader img.green-circle {
      animation: circle-spin infinite 80s linear; }
    .circle-loader img.yellow-semi-circle {
      animation: circle-spin infinite 70s linear; }
    .circle-loader img.yellow-circle {
      animation: circle-spin infinite 60s linear; }
    .circle-loader img.orange-semi-circle {
      animation: circle-spin infinite 50s linear; }
    .circle-loader img.orange-circle {
      animation: circle-spin infinite 40s linear; }
    .circle-loader img.red-semi-circle {
      animation: circle-spin infinite 30s linear; }
    .circle-loader img.red-circle {
      animation: circle-spin infinite 20s linear; }
    .circle-loader img.background-circle {
      min-width: 500px;
      max-width: 100%;
      animation: circle-spin infinite 120s linear; }
    .circle-loader img.profile-image {
      border: 5px solid rgba(101, 156, 200, 0.5);
      display: block;
      overflow: hidden;
      border-radius: 50%;
      width: 20%;
      min-width: 100px; }

@keyframes circle-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (min-width: 240px) {
  .circle-loader {
    height: 50vh; }
    .circle-loader img {
      width: 200px; } }

@media (min-width: 800px) {
  .circle-loader {
    height: 80vh; }
    .circle-loader img {
      width: 30%; } }
