$card-height: 350px;

.card {
    border: 3px #f3f3f3 solid;
    z-index: 200;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    cursor: default;
    background-color: #f3f3f3;
    padding: 10px;
    // max-width: 220px;
    height: $card-height;
    text-align: left;
    margin: 0 auto;
    &:hover {
      background-color: #f3f3f3;
      border-color: #f3f3f3;
    }
    img {
      max-width: calc(100%);
      border-radius: 5px;
      margin: 0 auto;
      display: block;
    }
    .index {
      background-color: rgba(0, 0, 0, 0.2);
      color: rgb(104, 104, 104);
      line-height: 20px;
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 0 10px;
    }
    .price {
      margin: 0;
      padding: 10px 0;
      font-weight: bold;
    }
    .details {
      color: rgb(93, 93, 93);
      position: relative;
      h4 {
        margin:2px 0px;
      }
    }
    .features {
      z-index: 100;
      list-style: none;
      padding: 0;
      margin: 0;
      li {               
        a {
          cursor: pointer;
          word-wrap: wrap;
        }
        span {
          display: none;
        }        
      }
    }
}