@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$yellow-highlight: #ffd152;
$main-background-color: #343233;

.page {
  background-color: $main-background-color;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;

  .app {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    display: flex;
    height: 88vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    span.highLight {
      color: $yellow-highlight
    }

    &-header {
      // border: 1px solid red;
      text-transform: uppercase;
      position: absolute;
      top: 5vh;
      width: 100%;
      align-self: flex-start;
      font-size: calc(10px + 2vmin);
    }

    &-subtitle {
      // border: 1px solid red;
      position: absolute;
      display: block;
      bottom: 10vh;
      margin-bottom: 5px;
      align-self: flex-end;
      text-align: center;
      width: 100%;
    }

  }

  .medium-size {
    width: 10%;
    min-width: 200px;
    align-self: center;
  }

  h2 {
    display: block;
    margin: 0;
    font-weight: normal;
  }  
}