@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
.gallery-section {
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }
  .gallery-section h2 {
    color: #ffd152;
    letter-spacing: 1px;
    align-self: center; }
