@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$yellow-highlight: #ffd152;

.gallery-section {
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    h2 {
        color: $yellow-highlight;
        letter-spacing: 1px;
        align-self: center;
    }    
}