@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
.overview-section {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 60%;
  color: white;
  margin-bottom: 20px; }
  .overview-section h2 {
    font-family: 'Fjalla One', sans-serif; }
  .overview-section span.highLight {
    color: #ffd152; }
  .overview-section-files {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .overview-section-files .link-buttons {
      color: white; }
